html, body{
    margin: 0;
}

#screen {
    margin: 0;
    font-family: "Open Sans", comic-sans;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white;
    background-color: black;
    
}

#screen > .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
   
#screen  .container .score{
    width: 50%;
    height: 30vh;
    font-size: 8em;
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

#screen .container .success{
    background: rgb(1, 77, 1);
    color: white;
}

#screen .container .fail{
    background: red;
    color: white;
}

#screen .container .total{
    width: 100%;
    height: 70vh;
}



   