html, body{
    margin: 0;
    background-color: #3a444d;
}

#screen {
    margin: 0;
    font-family: "Open Sans", comic-sans;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: #f5fbef;
    
}

#screen > .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
   
#screen  .container .score{
    width: 50%;
    height: 50vh;
    font-size: 5.75em;
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

#screen .container .success{
    color: #40f99b;
}

#screen .container .fail{
    color: #e85d75;
}

#screen .container .total{
    width: 100%;
}



   